.hero {
  background-color: #fafafa;
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 73px;
}

.hero__title {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 0;
  margin-bottom: 120px;
}

.hero__list {
  @include list;
}

.hero__link {
  display: block;
  position: relative;
  color: #ffffff;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  padding: 24px calc(100% - 160px) 31px 30px;
  transition: transform 0.5s;

  &:hover {
    transform: translateY(-5px);
    transition: transform 0.5s;
  }

  &::after {
    @include pseudo;
    width: 60px;
    height: 62px;
    right: 27px;
    top: 21px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
  }

  &--interior {
    background-color: #63d1bb;

    &::after {
      background-image: url("../img/interior.svg");
    }

    &:hover {
      background-color: #59d5bc;

      &::after {
        opacity: 0.7;
      }
    }

    &:active {
      background-color: #59d5bc;

      &::after {
        opacity: 0.3;
      }
    }
  }

  &--toys {
    background-color: #56c3b2;

    &::after {
      background-image: url("../img/toy.svg");
    }

    &:hover {
      background-color: #46c1ae;

      &::after {
        opacity: 0.7;
      }
    }

    &:active {
      background-color: #46c1ae;

      &::after {
        opacity: 0.3;
      }
    }
  }
}

.hero__item--interior {
  background-color: #59d5bc;
}

.hero__item--toy {
  background-color: #46c1ae;
}

@media (max-width: $mobile-width-only) {
  .hero__container {
    padding-left: 0;
    padding-right: 0;
  }

  .hero__title {
    font-size: 27px;
  }
}

@media (min-width: $tablet-width) {
  .hero {
    background-image: url("../img/hero-tablet.jpg");
    position: relative;

    &::after {
      @include pseudo;

      background-image: url("../img/zigzag-tablet.svg");
      bottom: 0;
      left: 0;
      width: 100%;
      height: 24px;
      background-repeat: repeat-x;
    }
  }

  .hero__list {
    display: flex;
  }

  .hero__item {
    width: 50%;
  }

  .hero__title {
    padding-top: 110px;
    margin-bottom: 372px;
  }

  .hero__link {
    padding: 25px calc(100% - 36px - 131px) 34px 36px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    &::after {
      background-image: url("../img/zigzag-desktop.svg");
      height: 34px;
    }
  }

  .hero__title {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    padding-top: 114px;
    margin-bottom: 355px;
  }

  .hero__link {
    padding: 25px calc(100% - 37px - 138px) 34px 37px;
  }
}
