body {
  font-family: $main-font;
  font-size: 15px;
  color: #444444;
  line-height: 24px;
  background-color: #ffffff;
  margin: 0;
  min-width: 320px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}


img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  body {
    font-size: 17px;
    line-height: 30px;
  }
}
